* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  --gray-100: #fafafa;
  --gray-200: #e5e4e6;
  --gray-300: #c5c4c7;
  --gray-400: #a2a1a5;
  --gray-600: #637376;
  --gray-700: #3e4d50;
  --gray-800: #273639;
  --primary-50: #f1eefb;
  --primary-100: #e3dcf9;
  --primary-200: #ac94ef;
  --primary-300: #8c68f1;
  --primary-400: #5f2ee6;
  --primary-500: #430bd8;
  --primary-600: #3108a4;
  --current-color: #000;

  --dialog-box-shadow: 0 0.5em 1em -0.5em rgba(0, 0, 0, 0.3);
}

body {
  font-family: 'Nunito', 'Helvetica', 'Arial', sans-serif;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tools-container {
  --_gap: 0.25rem;
  z-index: 1;
  background-color: var(--gray-100);
  border: 1px solid var(--gray-200);
  border-radius: 0.3rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tools-container .btn:not(:last-child) {
  margin-bottom: var(--_gap);
}

.btn,
.input-container {
  border-radius: 0.3rem;
  position: relative;
  outline: 2px solid transparent;
  transition: background-color 200ms, outline-color 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container {
  padding: 0.5rem 0;
}

.keybinding {
  line-height: 1;
  position: absolute;
  bottom: 0.1rem;
  right: 0.15rem;
  font-size: 0.5rem;
  font-weight: 700;
  color: var(--primary-300);
}

.btn {
  border: none;
  color: var(--gray-800);
  width: 2rem;
  height: 2rem;
  padding: 0.4rem;
  background: none;
  cursor: pointer;
}

.btn:hover:not(.active) {
  background-color: var(--primary-100);
  color: var(--primary-600);
}

.btn:hover:not(.active) .keybinding {
  color: var(--primary-400);
}

.btn:focus-visible,
.input-container:focus-within {
  outline-color: var(--primary-200);
}

.btn:active:not(.active) {
  outline-color: var(--primary-300);
  transition: background-color 0ms, outline-color 100ms;
}

.active {
  background-color: var(--primary-400);
  color: var(--primary-100);
}

.active:focus-visible {
  outline-color: var(--primary-600);
}

.active:active {
  transition: background-color 0ms, outline-color 200ms;
  background-color: var(--primary-500);
}

.active .keybinding {
  color: var(--primary-100);
}

.tooltip {
  position: absolute;
  top: 50%;
  left: calc(100% + 1em);
  z-index: 1;

  transform: translate(-1em, -50%);
  opacity: 0;
  user-select: none;
  pointer-events: none;

  white-space: nowrap;
  padding: 0.5em 1em;
  color: var(--gray-100);
  background-color: var(--gray-800);
  font-size: 0.7rem;
  font-weight: 600;
  text-align: center;
  border-radius: 0.5em;
  transition: 0.2s ease;
}

@media (hover: hover) {
  .btn:hover .tooltip,
  .input-container:hover .tooltip {
    transform: translate(0, -50%);
    opacity: 1;
  }
}

.range:active .tooltip {
  opacity: 0;
}

.range .keybinding {
  bottom: -0.4rem;
  right: 0;
  z-index: 1;
  padding: 0 0.1rem;
  background-color: var(--gray-100);
}

.input-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: inherit;
}

.current-color {
  --_size: 0.5rem;
  position: absolute;
  width: var(--_size);
  height: var(--_size);
  top: -0rem;
  right: -0rem;
  background-color: var(--current-color);
  border-radius: 50%;
}

.input-range {
  appearance: none;
  height: 2px;
  border-radius: 9em;
  background: var(--gray-800);
  max-width: 5em;
  cursor: ew-resize;
  outline: none;
}

.input-range::-webkit-slider-thumb,
.input-range::-moz-range-thumb {
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--gray-100);
  border: 2px solid var(--gray-800);
}

.input-range:hover::-webkit-slider-thumb,
.input-range:hover::-moz-range-thumb,
.input-range:focus-visible::-webkit-slider-thumb,
.input-range:focus-visible::-moz-range-thumb {
  transform: scale(1.1);
  border: 2px solid var(--primary-500);
  background-color: var(--primary-50);
}

.brush-size {
  display: block;
  font-size: 0.8em;
  font-weight: 600;
  color: var(--gray-800);
  pointer-events: none;
  user-select: none;
}

.divider {
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid var(--gray-200);
  margin: calc(1rem - var(--_gap)) 0 1rem;
}

.overlay {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: none;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  opacity: 0;

  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 15em rgba(0, 0, 0, 0.4);
}

.overlay.visible {
  display: flex;
  animation: showModalOverlay 0.4s ease forwards;
}

@keyframes showModalOverlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  background-color: var(--gray-100);
  padding: 1.5em 2em;
  border-radius: 0.5em;
  box-shadow: var(--dialog-box-shadow);
  max-width: 40em;
  position: relative;
  opacity: 0;
  display: none;
}

.modal.visible {
  display: block;
  animation: showModal 0.5s ease forwards;
  animation-delay: 0.2s;
}

@keyframes showModal {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal h1 {
  line-height: 1;
  font-size: 1.75em;
  padding: 0 1em 0 0;
  margin-bottom: 0.2em;
}

.modal p {
  margin-bottom: 1em;
}

.modal a {
  color: var(--primary-500);
  font-weight: bold;
  outline: 2px solid transparent;
  transition: outline-color 200ms ease;
}

.modal a:hover {
  text-decoration: none;
}

.modal a:focus-visible {
  outline-color: var(--primary-200);
}

.social {
  display: flex;
  list-style: none;
  font-size: 2em;
}

.social li {
  position: relative;
}

.social li:not(:last-child) {
  margin-right: 0.25em;
}

.social .btn {
  color: currentColor;
}

.social a:hover {
  color: var(--primary-500);
}

.social span {
  opacity: 0;
  pointer-events: none;
  user-select: none;
  padding: 0.3em 0.75em;

  position: absolute;
  bottom: calc(100% + 0.5em);
  left: 50%;
  transform: translate(-50%, -0.25em);

  font-size: 0.4em;
  font-weight: bold;
  text-align: center;
  background-color: var(--primary-400);
  color: var(--primary-50);
  border-radius: 0.5em;
  white-space: nowrap;
  transition: 0.2s ease;
}

.social a:hover + span {
  opacity: 1;
  transform: translate(-50%, 0);
}

.btn-close {
  position: absolute;
  top: 1.5em;
  right: 2em;
}

#pointer {
  background-color: transparent;
  border: 2px solid #ddd;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.notification {
  display: none;
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  background-color: var(--gray-100);
  padding: 1rem;
  border-radius: 0.3rem;
  font-weight: 600;
  font-size: 0.75rem;
  transform: translateX(-150%);
  color: var(--primary-400);
  border: 2px solid currentColor;
}

.notification.show {
  display: flex;
  align-items: center;
  animation: showNotification 3000ms forwards;
  animation-delay: 10ms;
}

.notification svg {
  margin-right: 0.5rem;
}

@keyframes showNotification {
  0% {
    transform: translateX(-150%);
  }
  10% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150%);
  }
}

.confirm {
  max-width: 25rem;
  background-color: var(--gray-100);
  padding: 1.5rem 2rem;
  color: var(--gray-800);
  border-radius: 0.3rem;
  font-size: 0.9rem;
  box-shadow: var(--dialog-box-shadow);

  opacity: 0;
  transform: translateY(-15px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.confirm.visible {
  opacity: 1;
  transform: translateY(0);
}

.confirm h2 {
  font-size: 1.25rem;
  margin-bottom: 0.25em;
}

.confirm__buttons {
  margin-top: 2rem;
}

.confirm__button {
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 600;
  outline: 2px solid transparent;
  transition: outline-color 200ms ease;
}

.confirm__button:active {
  filter: brightness(1.05);
}

.confirm__button-ok {
  background-color: var(--primary-400);
  color: var(--gray-100);
}

.confirm__button-ok:hover {
  background-color: var(--primary-500);
}

.confirm__button-ok:focus-visible {
  outline-color: var(--primary-600);
}

.confirm__button-cancel {
  background-color: transparent;
  color: var(--primary-400);
  margin-left: 0.25rem;
}

.confirm__button-cancel:hover {
  background-color: var(--primary-50);
  color: var(--primary-500);
}

.confirm__button-cancel:focus-visible {
  outline-color: var(--primary-200);
}
