* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
}

:root {
	--white-100: #fafafa;
	--white-200: #e5e4e6;
	--dark-100: #273639;
	--dark-200: #3e4d50;
	--primary: #430bd8;
	--current-color: #000;
}

body {
	font-family: 'Nunito', 'Helvetica', 'Arial', sans-serif;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.tools-container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1;

	display: flex;
	flex-direction: column;
	background-color: var(--white-100);
	text-align: center;
	padding: 1em;
	border-right: 1px solid var(--white-200);
	box-shadow: 0.5em 0 2em rgba(0, 0, 0, 0.15);
}

.tools {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
}

.btn,
.color {
	width: 3rem;
	height: 3rem;
	background-color: var(--white-100);
	box-shadow: 0 5px 15px -10px rgba(0, 0, 0, 0.5), 0 -5px 10px white,
		inset 0 -3px 5px var(--white-100), inset 0 0 10px rgba(0, 0, 0, 0.1);
	color: var(--dark-200);
	margin-bottom: 0.5rem;
	border: 0;
	border-radius: 50%;
	position: relative;
	transition: background-color 200ms ease, box-shadow 300ms linear;
}

.btn:hover,
.color:hover {
	background-color: var(--white-100);
	color: var(--primary);
}

.btn:active,
.color:active {
	transform: scale(0.97);
	transform-origin: bottom;
}

.btn i {
	transition: transform 200ms ease;
}

.active {
	box-shadow: 0 5px 15px -10px rgba(0, 0, 0, 0.5), 0 -5px 10px white,
		inset 0 -3px 5px var(--white-100), inset 0 0 10px rgba(0, 0, 0, 0.1),
		0 0 0 5px var(--white-200);
	color: var(--primary);
}

.active i {
	transform: scale(1.4);
}

.tooltip {
	position: absolute;
	top: 50%;
	left: calc(100% + 1em);
	z-index: 1;

	transform: translate(-1em, -50%);
	opacity: 0;
	user-select: none;
	pointer-events: none;

	color: var(--white-100);
	background: var(--dark-100);
	font-size: 0.75em;
	padding: 0.5em 1em;
	width: 7em;
	border-radius: 0.5em;
	transition: 0.2s ease;
}

.btn:hover .tooltip,
.input-container:hover .tooltip {
	transform: translate(0, -50%);
	opacity: 1;
}

.input-container {
	position: relative;
}

.input-container:nth-of-type(2):active .tooltip {
	opacity: 0;
}

input[type='color'] {
	width: 3em;
	height: 3em;
	opacity: 0;
}

.fa-palette {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

.current-color {
	position: absolute;
	width: 1em;
	height: 1em;
	top: 0;
	right: 0;
	background-color: var(--current-color);
	border-radius: 50%;
}

input[type='range'] {
	max-width: 5em;
}

.brush-size {
	display: block;
	font-weight: 700;
	color: var(--primary);
	pointer-events: none;
}

.btn-clear {
	margin-top: auto;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 0 15em rgba(0, 0, 0, 0.4);
	z-index: 5;
	position: absolute;
	top: -100vh;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	display: flex;
	opacity: 0;
	transition: opacity 0.4s ease;
}

.overlay.visible {
	top: 0;
	opacity: 1;
}

.modal {
	background-color: var(--white-100);
	padding: 1.5em 2em;
	border-radius: 0.5em;
	box-shadow: 0 0.5em 1em -0.5em rgba(0, 0, 0, 0.3);
	width: 90%;
	max-width: 40em;
	position: relative;
	opacity: 0;
	transform: translateY(-10px);
	transition: opacity 0.5s ease, transform 0.5s ease;
	transition-delay: 0.2s;
}

.modal.visible {
	opacity: 1;
	transform: translateY(0);
}

h1 {
	font-size: 1.75em;
	padding: 0 1em 0.3em 0;
	margin-bottom: 0.5em;
	border-bottom: 1px solid var(--white-200);
}

.modal p {
	margin-bottom: 1em;
}

.modal a {
	color: var(--primary);
	font-weight: bold;
}

.modal a:hover {
	text-decoration: none;
}

.social {
	display: flex;
	list-style: none;
	font-size: 2em;
}

.social li {
	position: relative;
}

.social li:first-child {
	margin-right: 0.5em;
}

.social a {
	color: currentColor;
}

.social a:hover {
	color: var(--primary);
}

.social span {
	opacity: 0;
	pointer-events: none;
	user-select: none;
	position: absolute;
	bottom: calc(100% + 0.5em);
	left: 50%;
	transform: translate(-50%, -0.5em);
	font-size: 0.4em;
	font-weight: bold;
	background-color: var(--primary);
	color: var(--white-100);
	padding: 0.3em 0.75em;
	border-radius: 0.5em;
	transition: 0.2s ease;
}

.social li:hover span {
	opacity: 1;
	transform: translate(-50%, 0);
}

.btn-close {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	background-color: transparent;
	border: none;
	width: 3rem;
	height: 3rem;
	font-size: 1.5em;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 200ms ease;
}

.btn-close:hover {
	background-color: var(--white-200);
}

.btn-close:active {
	transform: scale(0.95);
}
